<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\CoinS2Machine.log"/>
    <!--
      Especifique o local onde o log será salvo.
      Valores aceitos:
        FileLog
        EventViewerLog
    -->
    <add key="LogTypeName" value="FileLog"/>
  </appSettings>
</configuration>